* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteiner {
  margin: 40px 0 45px 0;
  width: 1120px;
  height: 443px;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 330px;
  height: 443px;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
  height: 145px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  box-shadow: 0px 15px 55px 0px rgba(0, 0, 0, 0.08);
}

.btn_footer {
  width: 240px;
  height: 60px;
  border-radius: 2px;
  border: 1.5px solid rgba(255, 66, 127, 1);
  cursor: pointer;
  background: transparent;
}

.logo {
  margin-top: 25px;
}

.photo {
  width: 330px;
  height: 400px;
}

h3 {
  /* font-family: "Lato", sans-serif; */
  font-size: 25px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.btn_footer a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 66, 127, 1);
}

.line-and-text {
  display: flex;
  align-items: center;
  color: rgba(236, 85, 152, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}

.line-and-text::before {
  content: "";
  flex: 0.25;
  border-bottom: 2px solid rgba(236, 85, 152, 1);
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.text p {
  width: 218px;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.text a {
  display: flex;
  justify-content: right;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1140px) {
  .conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
    
}